[user]
	name = Ali Rizvi-Santiago
	email = arizvisa@gmail.com

[core]
	eol = lf
	autocrlf = false

[color]
    status = false

[format]
    pretty = fuller

[pull]
	ff = only

[push]
	default = matching

[rebase]
    stat = true

[alias]
    oneline = log --pretty=oneline --abbrev-commit --all --graph --decorate=auto --color
    line = log --pretty=oneline --decorate=no
    #rawdog = log --pretty=raw --decorate=auto --color --all --graph
    rawdog = log '--pretty=format:%C(auto)commit        %C(auto)%H%d%n%C(auto)tree          %C(yellow)%T%n%C(auto)author        %C(auto)%an <%C(green)%ae%C(auto)>%n%C(auto)authordate    %C(auto)%ad (%C(cyan)%at%C(auto))%n%C(auto)committer     %C(auto)%cn <%C(green)%ce%C(auto)>%n%C(auto)committerdate %C(auto)%cd (%C(cyan)%ct%C(auto))%nsubject       %s%-n%-n%w(0,4,4)%-b%-n'
    noauthor = rebase --committer-date-is-author-date
    unstage = restore --staged
    untouch = restore --staged --worktree
    summary = status -uno

    # abbreviations
    one = oneline
    raw = rawdog
    sum = summary

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[http]
	version = HTTP/1.1
