[user]
	name = Ali Rizvi-Santiago
	email = arizvisa@gmail.com

[core]
	eol = lf
	autocrlf = false

[color]
    status = false

[format]
    pretty = fuller

[pull]
	ff = only

[push]
	default = matching

[rebase]
    stat = true

[alias]
    oneline = log --pretty=oneline --abbrev-commit --all --graph --decorate=auto --color
    line = log --pretty=oneline --decorate=no
    noauthor = rebase --committer-date-is-author-date
    unstage = restore --staged
    untouch = restore --staged --worktree

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[http]
	version = HTTP/1.1
