[user]
	name = Ali Rizvi-Santiago
	email = arizvisa@gmail.com

[core]
	eol = lf
	autocrlf = false

[color]
    status = false

[format]
    pretty = fuller

[http]
	sslVerify = false

[pull]
	ff = only

[push]
	default = matching

[rebase]
    stat = true

[alias]
    oneline = log --pretty=oneline
    noauthor = rebase --committer-date-is-author-date
    unstage = restore --staged
    untouch = restore --staged --worktree

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
