CustomIDAMemo
{
    /** line background **/
    qproperty-line-bg-default: #000040;
    qproperty-line-bg-selected: #608080;
    qproperty-line-bg-highlight: #404040;

    /** line foreground **/
    qproperty-line-fg-default: silver;
    qproperty-line-fg-regular-comment: white;
    qproperty-line-fg-repeatable-comment: silver;
    qproperty-line-fg-automatic-comment: silver;
    qproperty-line-fg-insn: silver;
    qproperty-line-fg-dummy-data-name: silver;
    qproperty-line-fg-regular-data-name: yellow;
    qproperty-line-fg-demangled-name: white;
    qproperty-line-fg-punctuation: silver;
    qproperty-line-fg-strlit-in-insn: #40FF40;
    qproperty-line-fg-numlit-in-insn: #40A0C0;
    qproperty-line-fg-void-opnd: #C06060;
    qproperty-line-fg-code-xref: #00FF80;
    qproperty-line-fg-data-xref: teal;
    qproperty-line-fg-data-xref-to-tail: #C0C000;
    qproperty-line-fg-error: #FF4040;
    qproperty-line-fg-opcode-byte: gray;
    qproperty-line-fg-extra-line: white;
    qproperty-line-fg-alt-opnd: white;
    qproperty-line-fg-hidden: silver;
    qproperty-line-fg-libfunc: #80FFFF;
    qproperty-line-fg-locvar: #00FF80;
    qproperty-line-fg-dummy-code-name: silver;
    qproperty-line-fg-asm-directive: #00C0C0;
    qproperty-line-fg-macro: fuchsia;
    qproperty-line-fg-strlit-in-data: #40FF40;
    qproperty-line-fg-charlit-in-data: #40FF40;
    qproperty-line-fg-numlit-in-data: white;
    qproperty-line-fg-keyword: #A0A0A0;
    qproperty-line-fg-register-name: silver;
    qproperty-line-fg-segment-name: aqua;
    qproperty-line-fg-dummy-unknown-name: silver;
    qproperty-line-fg-code-name: #8080FF;
    qproperty-line-fg-unknown-name: yellow;
    qproperty-line-fg-collapsed-line: #0080C0;

    /** line prefix **/
    qproperty-line-pfx-libfunc: #C0FFFF;
    qproperty-line-pfx-func: silver;
    qproperty-line-pfx-insn: aqua;
    qproperty-line-pfx-data: silver;
    qproperty-line-pfx-unexplored: teal;
    qproperty-line-pfx-extern: silver;
    qproperty-line-pfx-current-item: #40C0C0;
    qproperty-line-pfx-current-line: #80FF80;

    /** graph **/
    qproperty-graph-bg-top: #606060;
    qproperty-graph-bg-bottom: #606060;
}

CustomIDAMemo[debugging="true"]
{
    /** line background **/
    qproperty-line-bg-default: #404040;
    qproperty-line-bg-selected: #608080;
    qproperty-line-bg-highlight: #404040;
    qproperty-line-bgovl-current-ip: #0080FF;

    /** line foreground **/
    qproperty-line-fg-default: silver;
    qproperty-line-fg-regular-comment: white;
    qproperty-line-fg-repeatable-comment: silver;
    qproperty-line-fg-automatic-comment: silver;
    qproperty-line-fg-insn: silver;
    qproperty-line-fg-dummy-data-name: silver;
    qproperty-line-fg-regular-data-name: yellow;
    qproperty-line-fg-demangled-name: white;
    qproperty-line-fg-punctuation: silver;
    qproperty-line-fg-strlit-in-insn: #40FF40;
    qproperty-line-fg-numlit-in-insn: #40A0C0;
    qproperty-line-fg-void-opnd: #C06060;
    qproperty-line-fg-code-xref: #00FF80;
    qproperty-line-fg-data-xref: teal;
    qproperty-line-fg-data-xref-to-tail: #C0C000;
    qproperty-line-fg-error: #FF4040;
    qproperty-line-fg-opcode-byte: gray;
    qproperty-line-fg-extra-line: white;
    qproperty-line-fg-alt-opnd: white;
    qproperty-line-fg-hidden: silver;
    qproperty-line-fg-libfunc: #80FFFF;
    qproperty-line-fg-locvar: #00FF80;
    qproperty-line-fg-dummy-code-name: silver;
    qproperty-line-fg-asm-directive: #00C0C0;
    qproperty-line-fg-macro: fuchsia;
    qproperty-line-fg-strlit-in-data: #40FF40;
    qproperty-line-fg-charlit-in-data: #40FF40;
    qproperty-line-fg-numlit-in-data: white;
    qproperty-line-fg-keyword: #A0A0A0;
    qproperty-line-fg-register-name: silver;
    qproperty-line-fg-segment-name: aqua;
    qproperty-line-fg-dummy-unknown-name: silver;
    qproperty-line-fg-code-name: #8080FF;
    qproperty-line-fg-unknown-name: yellow;
    qproperty-line-fg-collapsed-line: #0080C0;

    /** line prefix **/
    qproperty-line-pfx-libfunc: #C0FFFF;
    qproperty-line-pfx-func: silver;
    qproperty-line-pfx-insn: aqua;
    qproperty-line-pfx-data: silver;
    qproperty-line-pfx-unexplored: teal;
    qproperty-line-pfx-extern: silver;
    qproperty-line-pfx-current-item: #40C0C0;
    qproperty-line-pfx-current-line: #80FF80;

    /** graph **/
    qproperty-graph-bg-top: #606060;
    qproperty-graph-bg-bottom: #606060;
}

CustomIDAMemo[hints="true"]
{
    /** line background **/
    qproperty-line-bg-default: #404040;
    qproperty-line-bg-selected: #608080;
    qproperty-line-bg-highlight: #404040;

    /** line foreground **/
    qproperty-line-fg-default: silver;
    qproperty-line-fg-regular-comment: white;
    qproperty-line-fg-repeatable-comment: silver;
    qproperty-line-fg-automatic-comment: silver;
    qproperty-line-fg-insn: silver;
    qproperty-line-fg-dummy-data-name: silver;
    qproperty-line-fg-regular-data-name: yellow;
    qproperty-line-fg-demangled-name: white;
    qproperty-line-fg-punctuation: silver;
    qproperty-line-fg-strlit-in-insn: #40FF40;
    qproperty-line-fg-numlit-in-insn: #40A0C0;
    qproperty-line-fg-void-opnd: #C06060;
    qproperty-line-fg-code-xref: #00FF80;
    qproperty-line-fg-data-xref: teal;
    qproperty-line-fg-data-xref-to-tail: #C0C000;
    qproperty-line-fg-error: #FF4040;
    qproperty-line-fg-opcode-byte: gray;
    qproperty-line-fg-extra-line: white;
    qproperty-line-fg-alt-opnd: white;
    qproperty-line-fg-hidden: silver;
    qproperty-line-fg-libfunc: #80FFFF;
    qproperty-line-fg-locvar: #00FF80;
    qproperty-line-fg-dummy-code-name: silver;
    qproperty-line-fg-asm-directive: #00C0C0;
    qproperty-line-fg-macro: fuchsia;
    qproperty-line-fg-strlit-in-data: #40FF40;
    qproperty-line-fg-charlit-in-data: #40FF40;
    qproperty-line-fg-numlit-in-data: white;
    qproperty-line-fg-keyword: #A0A0A0;
    qproperty-line-fg-register-name: silver;
    qproperty-line-fg-segment-name: aqua;
    qproperty-line-fg-dummy-unknown-name: silver;
    qproperty-line-fg-code-name: #8080FF;
    qproperty-line-fg-unknown-name: yellow;
    qproperty-line-fg-collapsed-line: #0080C0;

    /** line prefix **/
    qproperty-line-pfx-libfunc: #C0FFFF;
    qproperty-line-pfx-func: silver;
    qproperty-line-pfx-insn: aqua;
    qproperty-line-pfx-data: silver;
    qproperty-line-pfx-unexplored: teal;
    qproperty-line-pfx-extern: silver;
    qproperty-line-pfx-current-item: #40C0C0;
    qproperty-line-pfx-current-line: #80FF80;

    /** graph **/
    qproperty-graph-bg-top: #606060;
    qproperty-graph-bg-bottom: #606060;
}

navband_t
{
    qproperty-lib-function: #004080;
    qproperty-function: blue;
    qproperty-code: maroon;
    qproperty-undefined: olive;
    qproperty-extern: fuchsia;
    qproperty-error: fuchsia;
    qproperty-cursor: aqua;
    qproperty-auto-analysis-cursor: #FF8000;
}

TextArrows
{
    qproperty-jump-in-function: white;
    qproperty-jump-under-cursor: silver;
}

log_widget_t
{
    color: silver;
    background-color: #404040;
}

/** Compatibility with previous version of IDA Pro **/
MainMsgList
{
    color: silver;
    background-color: #404040;
}

TCpuRegs
{
    background-color:               #404040;
    qproperty-register-defined:     #000000;
    qproperty-register-changed:     #0000ff;
    qproperty-register-edited:      #800080;
    qproperty-register-unavailable: #808080;
}

TextEdit
{
    qproperty-keyword1-fg:          #0000ff;
    qproperty-keyword1-fg-weight:   0;
    qproperty-keyword1-fg-italic:   0;

    qproperty-keyword2-fg:          #800080;
    qproperty-keyword2-fg-weight:   0;
    qproperty-keyword2-fg-italic:   0;

    qproperty-keyword3-fg:          #ff0000;
    qproperty-keyword3-fg-weight:   0;
    qproperty-keyword3-fg-italic:   0;

    qproperty-string-fg:        #900000;
    qproperty-string-fg-weight: 0;
    qproperty-string-fg-italic: 0;

    qproperty-comment-fg:           #006000;
    qproperty-comment-fg-weight:    0;
    qproperty-comment-fg-italic:    1;

    qproperty-preprocessor-fg:          #ff0000;
    qproperty-preprocessor-fg-weight:   1;
    qproperty-preprocessor-fg-italic:   0;

    qproperty-number-fg:        #009090;
    qproperty-number-fg-weight: 1;
    qproperty-number-fg-italic: 0;
}